form{
    width:100%;
    height:25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333;
}
.box label{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(7, 189, 143);
}
.box input{
    margin: 1rem 0;
    width:25rem;
    height:3.5rem;
    border-color: teal;
    border-radius: 10px;
    outline: none;
    padding:0 1.5rem;
}
.box button{
    display: block;
    margin: 0 auto;
    border:none;
    background: crimson;
    color:#fff;
    outline:none;
    padding:0.5rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}